/*Generic message styles*/
.message-row {
  display: grid;
  grid-template-columns: 70%;
  margin-bottom: 20px;
  text-align: left;
}
.message-row > .message-content {
  display: grid;
}
.message-row > .message-content > img {
  border-radius: 100%;
  grid-row: span 2;
  width: 48px;
  height: 48px;
}
.message-row > .message-content > .message-text {
  padding: 9px 14px;
  font-size: 1.3rem;
  margin-bottom: 5px;
}

/* user message styles*/
.user-message {
  justify-content: end;
}

.user-message > .message-content {
  justify-content: end;
  margin-right: 10px;
}

.user-message > .message-content > .message-text {
  background: lightskyblue;
  color: black;
  border-radius: 14px 14px 0px 14px;
  margin-top: 10px;
  text-align: right;
}

/* bot message styles*/
.bot-message {
  justify-content: start;
}

.bot-message > .message-content {
  justify-items: start;
  margin-left: 10px;
}

.bot-message > .message-content > .message-text {
  background: blueviolet;
  color: white;
  border: 1px solid black;
  border-radius: 14px 14px 14px 0;
  margin-top: 10px;
  text-align: left;
}

.message-time {
  font-size: 0.8rem;
  color: black;
  text-align: end;
}
